.dashboard-sidebar {
  margin-top: 0px;
  justify-content: space-between;
  width: 40px;
  background-color: white;
  padding: 20px;
  height: 685px;
  border-right: 1px solid #28183b;
}

.sidebar-item {
  display: flex;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 20px;
  height: 30px;
}

.sidebar-item-icon {
  margin-top: 3px;
  margin-left: 10px;
}

.sidebar-item:hover {
  background-color: #b6b6b4;
}

.sidebar-item-text {
  margin-top: 3px;
  margin-left: 10px;
}

.sidebar-icon {
  cursor: pointer;
}

.dashboard-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #28183b;
  padding: 10px 20px;
  border-bottom: 1px solid #28183b;
}

.navbar-left {
  flex: 1;
}

.dashboard-navbar-middle {
  text-align: center;
  font-size: 18px;
}

.team-up-logo {
  font-size: 36px;
  font-weight: bold;
  color: #2b60de;
}

.team-up-logo:hover {
  cursor: pointer;
}

.dashboard-navbar-right {
  display: flex;
  text-align: right;
}

.profile-icon {
  margin-right: 5px;
}

.profile-text {
  margin-right: 20px;
  font-size: 20px;
}

.dashboard-navbar-right:hover {
  cursor: pointer;
}
