.changepassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #afdcec;
  font-family: Arial, sans-serif;
}

.changepassword-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #ebf4fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.changepassword-heading {
  color: #2b60de;
}
