.team {
  display: flex;
}

.team-content {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.team-banner {
  margin-left: 300px;
  margin-top: 20px;
}

.team-banner img {
  border-radius: 10px;
}

.team-name {
  margin-top: -5px;
}

.team-code-container {
  border: 1px solid black;
  max-width: 150px;
  height: 80px;
  border-radius: 12px;
}

.team-code-title {
  font-size: 15px;
  margin-top: 7px;
}

.team-code {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 10px;
}
