.custom-verifymodal {
  margin-top: 300px;
  max-width: 450px;
  height: 250px;
  margin-left: 37%;
  background-color: #2b60de;
  border: 2px solid #2b60de;
}

.verifypassword-modal-text {
  font-size: 20px;
  padding-top: 30px;
  margin-left: 12%;
  color: white;
}

.verifypassword-modal-text p {
  margin-left: 45px;
  margin-bottom: 5px;
}

.verifypassword-buttons {
  margin-top: 10px;
  margin-left: 155px;
}

.verifypassword-verify-button {
  font-size: 15px;
  margin-right: 10px;
  width: 70px;
  background-color: white;
  color: #28183b;
  border: 1px solid #28183b;
}

.verifypassword-verify-button:hover {
  background-color: #28183b;
  border: 1px solid #2b60de;
  color: white;
}

.verifypassword-cancel-button {
  font-size: 15px;
  margin-right: 10px;
  width: 70px;
  background-color: white;
  color: #28183b;
  border: 1px solid #28183b;
}

.verifypassword-cancel-button:hover {
  background-color: #28183b;
  border: 1px solid #2b60de;
  color: white;
}

.verifypassword-modal-text input {
  width: 300px;
  padding-right: 30px;
}

.verifypassword-icon {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  margin-top: -27px;
  margin-right: 562px;
}

.verifypassword-icon svg {
  width: 18px;
  height: 18px;
  margin-top: 10px;
  margin-right: 1000px;
}

.modal-forgotpassword-link {
  margin-bottom: 1px;
  text-align: center;
  color: #333;
  margin-top: 1px;
}

.modal-forgotpassword-link a {
  color: white;
  text-decoration: none;
}

.modal-forgotpassword-link a:hover {
  text-decoration: underline;
}
