.userprofile-page {
  display: flex;
  align-items: center;
}

.userprofile-image {
  flex: 0 0 auto;
  margin-right: 20px;
}

.userprofile-content {
  margin-top: -100px;
  margin-left: 200px;
  flex: 1;
}

.userprofile-text {
  margin-left: -1px;
  font-size: 20px;
}

.userprofile-content input {
  width: 300px;
  border-color: #2b60de;
}

.userprofile-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.update-userprofile-button {
  background-color: white;
  color: #2b60de;
  border: 1px solid #2b60de;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 30px;
}

.change-password-button {
  background-color: #2b60de;
  color: white;
  border: 1px solid #2b60de;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.update-userprofile-button:hover {
  background-color: #2b60de;
  color: white;
}

.change-password-button:hover {
  background-color: white;
  color: #2b60de;
}
