.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #afdcec;
  font-family: Arial, sans-serif;
}

.register-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #ebf4fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  transition: 0.2s ease;
  font-size: 13px;
  background-color: #e8f1ff;
  max-height: 15px;
}

input::placeholder {
  color: #686a6c;
}

input:valid {
  border-color: #2b60de;
}

.input-group {
  display: flex;
  gap: 40px;
}

.input-group input {
  flex: 1;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #2b60de;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #2554c7;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.login-link a {
  color: #2b60de;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.password-input {
  position: relative;
}

.password-input input {
  padding-right: 57.5%;
}

.password-icon {
  position: absolute;
  top: 30px;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-icon svg {
  width: 18px;
  height: 18px;
  margin-top: 10px;
}

.error-group {
  display: flex;
  flex-direction: column;
}
