.dashboard-sidebar {
  margin-top: 0px;
  justify-content: space-between;
  width: 80px;
  background-color: white;
  padding: 20px;
  height: 685px;
  border-right: 1px solid #28183b;
}

.sidebar-item-open {
  display: flex;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 20px;
  height: 40px;
}

.sidebar-myteams-open {
  display: flex;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 20px;
  height: 40px;
}

.sidebar-myteams-open:hover {
  background-color: #dadbdd;
}

.sidebar-item-active-open {
  display: flex;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 20px;
  height: 40px;
  background-color: #b6b6b4;
}

.sidebar-myteams-active-open {
  display: flex;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 20px;
  height: 40px;
  background-color: #dadbdd;
}

.sidebar-item-icon-open {
  margin-top: 8px;
  margin-left: 30px;
}

.sidebar-item-open:hover {
  background-color: #b6b6b4;
}

.sidebar-item-text-open {
  margin-top: 8px;
  margin-left: 10px;
}

.myteams-arrow-open {
  transition: 0.3s ease;
  margin-top: 8px;
}

.sidebar-myteams-icon-open {
  margin-top: 8px;
  margin-left: 8px;
}

.sidebar-myteams-text-open {
  margin-top: 8px;
  margin-left: 10px;
}

.sidebar-item-close {
  display: flex;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 20px;
  height: 40px;
  margin-left: 18px;
  width: 47px;
}

.sidebar-item-active-close {
  display: flex;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 20px;
  height: 40px;
  background-color: #b6b6b4;
  width: 47px;
  margin-left: 18px;
}

.sidebar-item-icon-close {
  margin-top: 8px;
  margin-left: 12px;
}

.sidebar-item-close:hover {
  width: 47px;
  background-color: #b6b6b4;
}

.sidebar-myteams-close {
  display: flex;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 20px;
  height: 40px;
  width: 70px;
}

.sidebar-myteams-active-close {
  display: flex;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 20px;
  height: 40px;
  background-color: #dadbdd;
  width: 70px;
}

.myteams-arrow-close {
  transition: 0.3s ease;
  margin-top: 8px;
}

.sidebar-myteams-icon-close {
  margin-top: 8px;
  margin-left: 8px;
}

.sidebar-myteams-close:hover {
  width: 70px;
  background-color: #dadbdd;
}

.myteams-arrow-active {
  transform: rotate(90deg);
  padding-right: 20px;
}

.teams-item {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  margin-top: -50px;
  margin-left: 28px;
}

.teams-item-avatar {
  margin-bottom: 40px;
  margin-top: 20px;
}

.teams-item-text {
  margin-bottom: 20px;
  border-radius: 20px;
  width: 200px;
  padding-left: 10px;
  height: 30px;
  padding-top: 5px;
  transition: 0.3s ease;
}

.teams-item-text:hover {
  cursor: pointer;
  background-color: #b6b6b4;
}
